* {
    box-sizing: border-box;
    margin: 0;
}

.container-send {
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
    padding: 40px;
    justify-content: space-around;
}

.row-send {
    width: 400px;
    height: 300px;
    position: relative;

}

.square-send {
    position: absolute;
    height: 180px;
    width: 90%;
    background-color: #FFC300;
    opacity: 0.7;
    border-radius: 5px;
    margin-top: 10px;
    z-index: 10;
    margin-left: 20px;
    
}

.circle-send {

    height: 100px;
    width: 100px;
    background-color: #0D31C0;
    opacity: 0.9;
    border-radius: 50%;
    position: absolute;
    margin-top: 120px;
    margin-left: 75%;

}

.image-send {
    height: 180px;
    width: 90%;
    position: absolute;
    z-index: 30;
    overflow: hidden;

}

img .visible {
    opacity: 1;
    transform: scale(1);
}

.descripcion {
    margin: 15px;
    padding: 15px;
    width: 90%;
}

