.container-footer {
    background-color: #1F4391;
    height: 650px;
    width: 100%;
    display: flex;
    position: relative;
    color: white;
    font-size: 18PX;
    align-content: center;
}

.grid-footer {
    display: flex;
    padding: 10px;
    align-items: center;
    width: 100%;
    align-content: space-between;
    position: absolute
    
}

.g-col-6 {
    height: 480px;
    margin: 10px;
    width: 33%;
    padding-left: 45px;
        
}

.icon {
    padding: 10px;
}


p {
    margin: 1px;
    padding: 1px;
    font-weight: 300;
}

p-1 {
    font-weight: 400;
}

a:hover {
    color: #FFC300;
    background-color: transparent;
    
  }

a:link {
    
    background-color: transparent;
    text-decoration: none;
  }
  